body {
    font-family: 'Arial', sans-serif;
    background: #e0e0e0; /* Light grey background */
    color: #333; /* Dark grey text */
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    background-color: #1a1a1a; /* Dark grey */
    color: #fff; /* White text */
    padding: 1rem;
}

header img {
    height: 100%;
    background: transparent;
}

h1 {
    padding-bottom: 1rem;
    font-size: 40px;
}

nav {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-around;
    border-top: 1px solid #1a1a1a; /* Dark grey */
    border-bottom: 1px solid #1a1a1a; /* Dark grey */
    background-color: #333; /* Dark grey */
}

nav button {
    background: #007bff; /* Blue */
    padding: 0.5rem;
    border: none;
    color: #fff; /* White text */
    border-radius: 5px;
}

nav button:hover {
    background-color: #0056b3; /* Darker blue */
    cursor: pointer;
}

#MainContent {
    height: 400px;
    padding: 1rem;
    display: flex;
    overflow: hidden;
}

.KaruselliTekstiHolder {
    position: relative;
    width: 40%;
}

.KaruselliTekstiHolder p {
    font-size: 20px;
    color: #333; /* Dark grey */
}

.ModelInfo {
    text-align: right;
    padding-right: 1rem;
}

#modelName {
    font-size: 30px;
    color: #1a1a1a; /* Dark grey */
}

#modelDetail {
    font-size: 20px;
    color: #333; /* Dark grey */
}

.Karuselliholder {
    width: 60%;
}

#karuselli {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    background-color: #ccc; /* Light grey */
}

.karuselli-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.karuselli-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prevBtn:hover, #nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.vaihtoautoHeader {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.vaihtoautoHeader.animate {
    opacity: 1;
    animation: fadeInUp 1s ease-in-out;
}

.vaihtoautoHeader h2 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 4rem;
    color: #1a1a1a; /* Dark grey */
}

.vaihtoautot {
    opacity: 0;
    display: flex;
    transition: opacity 0.5s ease-in-out;
    background-color: #e0e0e0; /* Light grey */
}

.vaihtoautot.animate {
    opacity: 1;
    animation: fadeInUp 1s ease-in-out;
}

.vaihtoautoImageHolder {
    padding: 0.5rem;
    width: 50%;
}

.vaihtoautotTekstiHolder {
    width: 50%;
    text-align: center;
}

.vaihtoautotTekstiHolder h3 {
    font-size: 30px;
    text-align: center;
    color: #1a1a1a; /* Dark grey */
}

.vaihtoautotTekstiHolder p {
    font-size: 20px;
    padding-right: 5rem;
    padding-left: 5rem;
    color: #333; /* Dark grey */
}

.vaihtoautoImageHolder img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#teeTarjous {
    background-color: #007bff; /* Blue */
    padding: 0.5rem;
    border: none;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 3rem;
    width: 200px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#teeTarjous:hover {
    background-color: #0056b3; /* Darker blue */
    cursor: pointer;
    border: 1px solid #333; /* Dark grey */
    color: #333; /* Dark grey */
}

.tarjouksetHeader h2 {
    font-size: 40px;
    text-align: center;
    color: #1a1a1a; /* Dark grey */
}

.tarjoukset {
    background-color: #333; /* Dark grey */
    height: 400px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.tarjousKortti {
    background-color: #e0e0e0; /* Light grey */
    height: 80%;
    width: 300px;
    margin: 3rem;
    align-items: center;
    border: 1px solid #1a1a1a; /* Dark grey */
}

.tarjousImageContainer {
    width: 100%;
    height: 50%; /* Set a fixed height */
    overflow: hidden;
}

.tarjousImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

.tarjousModelContainer {
    padding: 1rem;
    height: 10%;
    color: #1a1a1a; /* Dark grey */
}

.tarjousDetailContainer {
    height: 40%;
    padding: 1rem;
    box-sizing: border-box; /* Include padding in the element's total width and height */
    overflow: hidden; /* Hide any overflow content */
}

.tarjousDetailContainer p {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    color: #333; /* Dark grey */
}
.tarjousKortti:hover{
    cursor: pointer;
}