body{
    font-family: 'Arial',sans-serif;
    background: whitesmoke;
    margin: auto;
}

header{
    display: flex;
    justify-content: center;
}
header img{
    height: 100%;
    background: transparent;

}
h1{
    padding-bottom: 1rem;
    font-size: 40px;
}

nav {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    justify-content: space-around;
    border-top: 1px solid saddlebrown;
    border-bottom: 1px solid saddlebrown;
}

nav button{
    background: transparent;
    padding: 0.5rem;
    border: none;
}
nav button:hover{
    background-color:saddlebrown;
    cursor: pointer;
    color: whitesmoke;
}
#MainContent{
    height: 400px;
    padding: 1rem;
    display: flex;
    overflow: hidden;
    border: 1px solid saddlebrown;

}
.KaruselliTekstiHolder {
    position: relative;
    width: 40%;
}
.KaruselliTekstiHolder p{
    font-size: 20px;
}
.ModelInfo{
    text-align: right;
    padding-right: 1rem;
}
#modelName{
    font-size: 30px;
}
#modelDetail{
    font-size: 20px;
}


.Karuselliholder {
    width: 60%;
}
#karuselli {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.karuselli-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.karuselli-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#prevBtn:hover, #nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.vaihtoautoHeader{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.vaihtoautoHeader.animate{
    opacity: 1;
    animation: fadeInUp 1s ease-in-out;
}

.vaihtoautot {
    opacity: 0;
    display: flex;
    transition: opacity 0.5s ease-in-out;
}

.vaihtoautot.animate {
    opacity: 1;
    animation: fadeInUp 1s ease-in-out;
}
.vaihtoautoHeader h2 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 4rem;
}
.vaihtoautoImageHolder{
    padding: 0.5rem;
    width: 50%;
}
.vaihtoautotTekstiHolder{
    width: 50%;
    text-align: center;
}
.vaihtoautotTekstiHolder h3{
    font-size: 30px;
    text-align: center;
}
.vaihtoautotTekstiHolder p{
    font-size: 20px;
    padding-right: 5rem;
    padding-left: 5rem;
}
.vaihtoautoImageHolder img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
#teeTarjous{
    background-color: saddlebrown;
    padding: 0.5rem;
    border: none;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 3rem;
}
#teeTarjous:hover{
    background-color:transparent;
    cursor: pointer;
    border-radius: 3rem;
    border: 1px solid black;
    color: black;
}
.tarjouksetHeader h2{
    font-size: 40px;
    text-align: center;
}
.tarjoukset{
    background-color: saddlebrown;
    height: 400px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}
.tarjousKortti {
    background-color: whitesmoke;
    height: 80%;
    width: 300px;
    margin: 3rem;
    align-items: center;
}

.tarjousImageContainer {
    width: 100%;
    height: 200px; /* Set a fixed height */
    overflow: hidden;
}

.tarjousImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container without distortion */
}



